<div id="simple-backbone-view" class="container">
</div>

<div id="template-backbone-view">
</div>

<script type="text/javascript">
  new App.SimpleBackboneView({el: $('#simple-backbone-view')})
  new App.TemplateBackboneView({el: $('#template-backbone-view')})
</script>
